<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form method='post' action="/finishPayment">
    <div class="form-field">
      <label for="ccnumber">Card Number:
        <input type="number" name="ccnumber">
      </label>
    </div>
    <div class="form-field">
      <label for="cvv">CVV:
        <input type="number" name="cvv">
      </label>
    </div>
    <div class="form-field">
      <label for="expirydate">Expiry Date:
        <input type="month" name="expirydate">
      </label>
    </div>
    <div class="form-field">
      <input type="submit" value="Pay">
    </div>
  </form>
</body>

</html>